<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Corhub - about</title>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}" />    

    <style>
        .info
        {
            justify-content: left;
            /* align-items: left; */
        }
    </style>
</head>
<body>
    <ul class="nav">
        <li><a href="/">Home</a></li>
        <li><a href="/films">Films</a></li>
        <li><a id="selected" href="/contact">Contact</a></li>
        <li><a href="/about">About</a></li>
        <li style="float: center;"><a href="">CornHub</a></li>
        <li style="float: right;"><a href="/login">amogus</a></li>

    </ul>

    <div class="info">
        <p>Email: jarox4test.proton.me</p> <br>
        <p>Discord: 0x34309#6591</p> <br>
    </div>
</body>
</html>