<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>CornHub - films</title>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}" />    
    

    <style>
        .film-container
        {
            display: flex;

            background-color: rgb(22, 24, 29);
            border-radius: 15px;
            
            align-items: left;
            float: left;


            padding: 14px 16px;

            /* width: 85%;
            height: 80vh; */
        }

        video
        {
            border-radius: 15px;
            padding: 10px 10px;
            background-color: black;
            /* alin */
        }

    </style>

</head>
<body>
    <ul class="nav">
        <li><a href="/">Home</a></li>
        <li><a id="selected" href="/films">Films</a></li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="/about">About</a></li>
        <li style="float: center;"><a href="">CornHub</a></li>
        <li style="float: right;"><a href="/login">amogus</a></li>

    </ul>

        <h1>sex</h1>
    <div class="films-container">
        <video width="420" height="240" controls>
            <source src="{{url_for('static', filename='uploads/koksu5gram.mp4')}}" type="video/mp4">
        </video>
        <video width="420" height="240" controls>
            <source src="{{url_for('static', filename='uploads/KingaDumda_Dyskont.mp4')}}" type="video/mp4">
        </video>
        <video width="420" height="240" controls>
            <source src="{{url_for('static', filename='uploads/Ordżazm.mp4')}}" type="video/mp4">
        </video>

    </div>




</body>
</html>