<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>CornHub</title>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}" />    

    
</head>
<body>
    <ul class="nav">
        <li><a id="selected" href="/">Home</a></li>
        <li><a href="/films">Films</a></li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="/about">About</a></li>
        <li style="float: center;"><a href="">Corn Hub</a></li>
        <li style="float: right;"><a href="/login">amogus</a></li>
    </ul>

    <h1 style="float: center; text-shadow: 0 0 5px #FFF;">Corn Hub</h1>
    <!-- <h2>Column</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sit amet pretium urna. Vivamus venenatis velit nec neque ultricies, eget elementum magna tristique. Quisque vehicula, risus eget aliquam placerat, purus leo tincidunt eros, eget luctus quam orci in velit. Praesent scelerisque tortor sed accumsan convallis.</p>
    </div>
    <a href="https://www.amogus.org">Vivamus</a> -->
</body>
</html>

